[Unit]
Description=Prometheus Host Type Exporter
After=network.target

[Service]
Environment="PORT={{ app_port }}"
ExecStart=/usr/bin/python3 /opt/prometheus-exporter/app.py --port={{ app_port }}
WorkingDirectory=/opt/prometheus-exporter
Restart=always
User=root

[Install]
WantedBy=multi-user.target